
<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="login-container row">
  <div class="left-panel col-6"></div>
  <div class="right-panel col-6">
    <div class="logo-container">
      <div class="logo"><i class="bi bi-cart"></i></div>
      <div class="logo-text">ShopHub</div>
    </div>
    <div class="w-75" >
      <p class="welcome-title">Reset Password</p>
      <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label class="form-label">Enter New Password : </label>
          <input type="email" class="form-control" id="exampleInputEmail1"  formControlName="newPassword" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label class="form-label">Confirm Password : </label>
          <input type="email" class="form-control" id="exampleInputEmail1" formControlName="confirmPassword" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="submit" class="reset-btn">Submit</button>
        <div class="d-flex align-items-center justify-content-center back-to-Login">
          <a href="/login"> Back to Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
