<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="login-container">
  <div class="left-section">
    <div class="image-wrapper">
      <img src="assets/login1.jpg" class="left-full-image" />
    </div>
  </div>
  <div class="right-section">
    <div class="form-container">
      <div class="form-header">
        <h2 class="form-title">ShopHub</h2>
        <p class="form-subtitle">Reset Password here</p>
      </div>
      <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
        <!-- New Password -->
        <div class="form-group">
          <label class="form-label">Enter New Password :</label>
          <input
            type="password"
            class="form-input"
            formControlName="newPassword"
            placeholder="Enter Password"
          />
          <div *ngIf="resetPassForm.get('newPassword')?.touched && resetPassForm.get('newPassword')?.invalid" class="text-danger">
            <div *ngIf="resetPassForm.get('newPassword')?.errors?.['required']">Password is required</div>
            <div *ngIf="resetPassForm.get('newPassword')?.errors?.['minlength']">Minimum 8 characters</div>
            <div *ngIf="resetPassForm.get('newPassword')?.errors?.['maxlength']">Maximum 15 characters</div>
            <div *ngIf="resetPassForm.get('newPassword')?.errors?.['pattern']">
              Must include uppercase, lowercase, number, and special character
            </div>
          </div>
        </div>

        <!-- Confirm Password -->
        <div class="form-group">
          <label class="form-label">Confirm Password :</label>
          <input
            type="password"
            class="form-input"
            formControlName="confirmPassword"
            placeholder="Enter Password"
          />
          <div *ngIf="resetPassForm.get('confirmPassword')?.touched && resetPassForm.get('confirmPassword')?.invalid" class="text-danger">
            <div *ngIf="resetPassForm.get('confirmPassword')?.errors?.['required']">Confirm password is required</div>
            <div *ngIf="resetPassForm.get('confirmPassword')?.errors?.['minlength']">Minimum 8 characters</div>
            <div *ngIf="resetPassForm.get('confirmPassword')?.errors?.['maxlength']">Maximum 15 characters</div>
            <div *ngIf="resetPassForm.get('confirmPassword')?.errors?.['pattern']">
              Must include uppercase, lowercase, number, and special character
            </div>
          </div>

          <div *ngIf="resetPassForm.errors?.['passwordMismatch'] && resetPassForm.get('confirmPassword')?.touched" class="text-danger">
            Passwords do not match
          </div>
        </div>

        <button type="submit" class="submit-btn" [disabled]="resetPassForm.invalid">Submit</button>
      </form>

    </div>
  </div>
</div>