<div class="card" (mouseenter)="hover = true" (mouseleave)="hover = false">
  <div class="image-container">
    <img [src]="getProductImageUrl(product.productImage)" alt="{{ product.name }}" />
    <div class="action-icons" *ngIf="hover && isAdmin">
      <button class="btn btn-light btn-sm me-1" title="Edit"  (click)="onEditClick()">
        <i class="bi bi-pencil"></i>
      </button>
      <button class="btn btn-danger btn-sm" title="Delete" (click)="onDeleteClick()">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <h5>{{ product.name }}</h5>

    <div class="rating">
      <span class="stars">★★★★☆</span>
      <span class="rating-text">4.4 (203)</span>
    </div>

    <p class="price">{{ product.price }}</p>

    <div class="buttons mb-2">
      <button class="btn btn-dark" (click)="onAddToCart()">
        Add to Cart
      </button>
      <button class="btn btn-outline-secondary" routerLink="/products/details/{{ product.id }}">
        <i class="bi bi-eye"></i>
        View Details
      </button>
    </div>
  </div>
</div>