<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="login-container">
  <div class="left-section">
    <div class="image-wrapper">
      <img src="assets/login1.jpg" class="left-full-image" />
    </div>
  </div>

  <div class="right-section">
    <div class="form-container" *ngIf="!isResetPassword">
      <div class="form-header">
        <h2 class="form-title">ShopHub</h2>
        <p class="form-subtitle">Please login to your account</p>
      </div>

      <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label class="form-label" for="email">Email address</label>
          <input type="email" id="email" class="form-input" formControlName="email" placeholder="Enter your email"
            [ngClass]="{
            'is-invalid':
              loginForm.get('email')?.invalid &&
              loginForm.get('email')?.touched
          }" required>

          <div class="invalid-feedback" *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            ">
            <small class="mb-3 mt-3" *ngIf="loginForm.get('email')?.errors?.['required']">
              Please provide registerd email</small>
            <small class="mb-3 mt-3" *ngIf="loginForm.get('email')?.errors?.['email']">
              Please provide valid email address</small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" for="password">Password</label>
          <div class="password-container" style="position: relative; display: inline-block; width: 100%">
            <input [type]="passwordVisible ? 'text' : 'password'" class="form-input" style="padding-right: 40px"
              formControlName="password" placeholder="Enter your password" [ngClass]="{
            'is-invalid':
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
          }" required />
            <i class="fas" [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'" style="
                position: absolute;
                top: 35%;
                right: 12px;
                cursor: pointer;
                z-index: 2;
                color: #6c757d;
                pointer-events: auto;
              " (click)="togglePassword()"></i>
          </div>

          <div class="invalid-feedback" [style.display]="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
                ? 'block'
                : 'none'
            ">
            <small class="text-danger d-block mt-1" *ngIf="loginForm.get('password')?.errors?.['required']">
              Please provide password</small>
            <small class="text-danger d-block mt-1" *ngIf="loginForm.get('password')?.errors?.['pattern']">Password must
              contain at least one uppercase letter, one
              lowercase letter, one digit, and one special character, and be
              between 8 to 15 characters long.</small>
          </div>
        </div>

        <div class="form-options">
          <label class="checkbox-container">
          </label>
          <a (click)="showResetPassword()" class="forgot-link">Forgot password ?</a>
        </div>

        <button type="submit" class="submit-btn" [disabled]="loginForm.invalid">
          <span *ngIf="isSubmitted && loginForm.valid" class="spinner-border spinner-border-sm me-1"
            role="status"></span>
          {{ isSubmitted ? "Logging In..." : "Login" }}</button>
      </form>

      <div class="form-footer">
        Don't have an account? <button class="register-btn" (click)="Register()">Register</button>
      </div>
    </div>

    <div *ngIf="isResetPassword" class="form-container">
      <div class="form-header">
        <h2 class="form-title">ShopHub</h2>
        <p class="form-subtitle">Forgot Password</p>
      </div>
      <form [formGroup]="SendMailForm" (ngSubmit)="sendEmail()">
        <div class="form-group">
          <label class="form-label">Enter registered Email : </label>
          <input type="email" class="form-input"
          placeholder="Enter Email"
            formControlName="email" [ngClass]="{
              'is-invalid':
              SendMailForm.get('email')?.invalid &&
              SendMailForm.get('email')?.touched
            }" required/>
        </div>
        <div class="invalid-feedback" *ngIf="
        SendMailForm.get('email')?.invalid && SendMailForm.get('email')?.touched
      ">
            <small class="mb-3 mt-3" *ngIf="SendMailForm.get('email')?.errors?.['required']">
              Please provide registerd email</small>
            <small class="mb-3 mt-3" *ngIf="SendMailForm.get('email')?.errors?.['email']">
              Please provide valid email address</small>
          </div>
        <button type="submit" class="submit-btn" [disabled]="SendMailForm.invalid">{{ isLoading ? "Sending..." : "Send" }}</button>
        <div class="form-footer">
          <a (click)="backToLogin()">Back to login</a>
        </div>
      </form>
    </div>
  </div>
</div>