<!-- add-category-modal.component.html -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=person"
/>
<div
  class="modal fade"
  [class.show]="showModal"
  [style.display]="showModal ? 'block' : 'none'"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addCategoryModalLabel"
  style="overflow: hidden"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header p-3">
        <h5
          class="modal-title d-flex align-items-center"
          id="addCategoryModalLabel"
        >
          <span class="material-symbols-outlined me-2" *ngIf="!isEditing"
            >person</span
          >
          <i class="bi bi-plus-circle me-2" *ngIf="isEditing"></i>
          <label for="" *ngIf="isEditing">Edit user</label>
          <label for="" *ngIf="!isEditing">Register</label>
        </h5>
        <button
          type="button"
          class="btn-close"
          (click)="onClose()"
          aria-label="Close"
        ></button>
      </div>

      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div
          class="d-flex align-items-center justify-content-center mt-2 mb-2 image-container"
        >
          <!-- File Input Trigger (hidden input inside label) -->
          <label
            class="rounded-circle d-flex align-items-center justify-content-center profileImageEditIcon"
          >
            <i class="bi bi-camera text-white"></i>
            <input
              type="file"
              accept="image/*"
              c
              (change)="onFileSelected($event)"
              style="display: none"
            />
          </label>

          <div
            class="ps-1 pe-1 removeImage"
            *ngIf="imagePreview || isEditing"
            (click)="removeImage()"
            style="border-radius: 50%"
          >
            <i class="bi bi-x text-white"></i>
          </div>

          <img
            *ngIf="imagePreview || user.profileImage"
            [src]="
              imagePreview ? imagePreview : getUserImageUrl(user.profileImage)
            "
            class="rounded-circle userImage"
            width="90"
            height="90"
            alt="User Image"
            style="object-fit: cover"
          />
          <div
            *ngIf="!user.profileImage && !imagePreview"
            class="rounded-circle bg-secondary text-white d-flex align-items-center justify-content-center userImage"
          >
            <img
              src="http://localhost:7000/user-uploads/default.png"
              class="rounded-circle userImage"
              width="90"
              height="90"
              alt="User Image"
              style="object-fit: cover"
              alt=""
            />
          </div>
        </div>

        <div
          class="invalid-feedback text-danger d-flex align-items-center justify-content-center mb-3 pt-4"
          *ngIf="userForm.get('userFile')?.errors"
        >
          <small *ngIf="userForm.get('userFile')?.errors?.['invalidExtension']">
            Only JPG, JPEG, PNG, and WEBP image files are allowed.
          </small>
          <small *ngIf="userForm.get('userFile')?.errors?.['maxSize']">
            Image size must be less than or equal to 2MB.
          </small>
        </div>

        <div class="modal-body">
          <div class="d-flex">
            <div class="mb-3 w-50 me-3">
              <label for="Firstname" class="form-label"
                >First Name<span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                formControlName="firstName"
                id="firstName"
                placeholder="Enter First Name"
              />
              <div class="invalid-feedback">
                <small
                  class="mb-3 mt-3"
                  *ngIf="f['firstName'].touched && f['firstName'].errors?.['required']"
                  >Please provide First Name</small
                >
                <small
                  class="mb-3 mt-3"
                  *ngIf="f['firstName'].touched && f['firstName'].errors?.['maxlength']"
                  >First Name should be maximum 50 characters long</small
                >
              </div>
            </div>
            <div class="mb-3 w-50">
              <label for="lastName" class="form-label"
                >Last Name <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                formControlName="lastName"
                id="lastName"
                placeholder="Enter last Name"
              />
              <div class="invalid-feedback">
                <small
                  *ngIf="f['lastName'].touched && f['lastName'].errors?.['required']"
                  >Please provide Last Name</small
                >
                <small
                  *ngIf="f['lastName'].touched && f['lastName'].errors?.['maxlength']"
                  >Last Name should be maximum 50 characters long</small
                >
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label"
              >Email <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              formControlName="email"
              id="email"
              placeholder="Enter your email"
              [disabled]="isEditing"
            />
            <div class="invalid-feedback">
              <small
                *ngIf="f['email'].touched && f['email']?.errors?.['required']"
                >Please provide email address</small
              >
              <small *ngIf="f['email'].touched && f['email']?.errors?.['email']"
                >Please provide a valid email address</small
              >
            </div>
          </div>

          <div class="mb-3" *ngIf="!isEditing">
            <label for="email" class="form-label"
              >Password <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              formControlName="password"
              id="password"
              placeholder="Enter your password"
              [disabled]="isEditing"
            />
            <div class="invalid-feedback">
              <small
                *ngIf="f['password'].touched && f['password']?.errors?.['required']"
                >Please provide Password</small
              >
              <small
                *ngIf="f['password'].touched && f['password']?.errors?.['pattern']"
                >Password must contain at least one uppercase letter, one
                lowercase letter, one digit, and one special character, and be
                between 8 to 15 characters long.</small
              >
            </div>
          </div>
          <div class="d-flex">
            <div class="mb-3 w-50 me-3">
              <label for="phoneNumber" class="form-label"
                >Phone Number <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="phoneNumber"
                rows="3"
                formControlName="phoneNumber"
                placeholder="Enter your phone number"
              />
              <div class="invalid-feedback">
                <small
                  *ngIf="f['phoneNumber'].touched && f['phoneNumber']?.errors?.['required']"
                  >Please provide phone number</small
                >
                <small
                  *ngIf="f['phoneNumber'].touched && f['phoneNumber']?.errors?.['pattern']"
                  >Please provide a valid Phone Number (Ex. +911234567890)
                </small>
              </div>
            </div>
            <div class="mb-3 w-50 me-3">
              <label for="phoneNumber" class="form-label"
                >pincode <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="pinCode"
                rows="3"
                formControlName="pinCode"
                placeholder="Enter pincode"
              />
              <div class="invalid-feedback">
                <small
                  *ngIf="f['pinCode'].touched &&  f['pinCode']?.errors?.['required']"
                  >Please provide pincode</small
                >
                <small
                  *ngIf="f['pinCode'].touched && f['pinCode']?.errors?.['pattern']"
                  >Please provide a valid pincode (It should contain exactly 6
                  numbers)
                </small>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="address" class="form-label"
              >Address <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="address"
              rows="3"
              formControlName="address"
              placeholder="Enter Address"
            />
            <div class="invalid-feedback">
              <small
                *ngIf="f['address'].touched &&  f['address']?.errors?.['required']"
                >Please provide address</small
              >
              <small
                *ngIf="f['address'].touched && f['address']?.errors?.['maxlength']"
                >Maximum length for address is 200 characters</small
              >
            </div>
          </div>
        </div>
        <div class="modal-footer p-2">
          <button
            type="button"
            class="btn btn-secondary p-2 ps-3 pe-3"
            (click)="onClose()"
            [disabled]="isSubmitting"
          >
            <i class="bi bi-x-circle me-1"></i><label for="">Cancel</label>
          </button>
          <button
            type="submit"
            class="btn btn-primary p-2 ps-3 pe-3"
            [disabled]="userForm.invalid"
          >
            <span
              *ngIf="isSubmitting"
              class="spinner-border spinner-border-sm me-1"
              role="status"
            ></span>
            <i class="bi bi-floppy me-1" *ngIf="!isSubmitting"></i>
            {{ isSubmitting ? "Saving..." : "Save" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal backdrop -->
<div
  class="modal-backdrop fade"
  [class.show]="showModal"
  *ngIf="showModal"
></div>
